*{
	box-sizing: border-box;
	font-family:Century Gothic;
	color:#ffffff;
}

hr{
	box-shadow: none;
	border-radius:20px;
}

p{
	text-align: justify;
}

.body{
	background-color: #ddd1e7;
}

.post{
	padding: 2px;
}

.title{
	font-weight: bold;
	font-size: 18px;
}

.home{         
	background-color: #744e94;
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center
}

.titulo{
	color:#ffffff;
	font-family:Century Gothic;
	font-size:50px;
}

.subtitulo{
	color:#f8f8f8;
	font-family:Century Gothic;
	font-size:15px;
}

.perfil{
	border-radius:200px;
}

.pagewrap{
	background-color: #ddd1e7;
	padding: 20px auto;
}

.hero-image{
  	width: 100%;
  	height: 200px;
	position: relative;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.hero-image[id="banner"]{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../leonas.png");
}

.hero-image[id="m1"]{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Martan.png");
}
.hero-image[id="m2"]{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Dark_Knight.png");
}

.hero-image[id="m3"]{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Coincidência F.png");
}

.hero-image[id="m4"]{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Anna Von Bismarck.png");
}

.hero-text {
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
  	top: 50%;
  	left: 50%;
  	z-index: 0;
  	transform: translate(-50%, -50%);
}

.header{
	background-color: #3b284b;
}

.content{
	height: 100%;
	padding: 20px;
	width: 73%;
	float: left;
	background-color: #b297c9;
}

.sidebar{
	height: 100%;
	width: 25%;
	padding: 9px;
	float: right;
	background-color: #b297c9;
}

.social{
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
	text-align: center;
}

.footer{
	padding: 10px;
	clear: both;
	background-color: #3b284b;
}

.copyright{
	color: #bbb;
	text-align: center;
}

.nav {
	z-index: 1;
  	height: 50px;
  	width: 100%;
 	background-color: #3b284b;
 	position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
	background-color: #4a325e;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
	background-color: #3b284b;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
	background-color: #4a325e;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (min-width: 980px) {
	
	.pagewrap {
			margin: -8px;
	}

	.body{
		padding: 50px;
	}
	.perfil{
		width:5%;
	}
}

@media screen and (max-width: 980px) {
	
	.pagewrap {
		width: 94%;
	}
	.content {
		border-color: #3b284b;
		width: 65%;
	}
	.sidebar {
		border-color: #3b284b;
		width: 30%;
	}
	
	.perfil{
		width:5%;
	}

}



/* for 700px or less */
@media screen and (max-width: 700px) {
	.titulo{
		width: auto;
		float: none;
	}

	.spotify{
		width: auto;
		float: none;

	}

	.perfil{
		width: 5%;
		float: none;
	}
	.content {
		width: auto;
		float: none;
	}
	.sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {
	.wrapper{
		margin-left:0%;
		margin-right: 0%;
	}
	.header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	.sidebar {
		display: none;
	}

	.subtitulo{
		display: none;
	}
	.perfil{
		float: center;
	}

}

/* border & guideline (you can ignore these) */

.header, .content,.sidebar {
	margin-bottom: 5px;
}
